{{ define "main" }}
<div class="row">
    <!-- Ranges through content/posts/*.md -->
    {{ range $idx, $item := .Pages }}
    <div class="three columns art-list-container">
        {{ if eq $item.Type "art" }}
        {{ if isset $item.Params "images" }}
        <div class="art-main-image" >
            <a class="art-item" href="{{ .Permalink }}">
                {{ range first 1 .Params.images }}
                <img class="art-preview" src="/images/{{ . }}" />
                {{ end  }} <!-- first image in art post if available -->
            </a>
        </div>
        {{ end  }} <!-- If isset images to gate the above^ -->
        <p><a href="{{ .Permalink }}">{{ $item.Params.title | default "untitled" }}</a><br/>
            {{ $item.Params.size | default "undefined size" }}<br/>
            {{ $item.Params.medium | default "mixed media" }}<br/>
            {{ $item.Params.price | default "$enquire" }}
        </p>
        {{ else }}
        <h4>
            <a href="{{ .Permalink }}">{{ $item.Title }}</a>
        </h4>
        <p>{{ $item.Summary }}</p>
        {{ end }}
    </div>

<!-- Clear every 4 images if we have to. -->
{{ if eq 3 (mod $idx 4) }}
</div>
<div class="row">
{{ end }}
    {{ end }}
    {{ end }}
