<html>
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/simpleLightbox.min.css">
        <script src="/js/simpleLightbox.min.js"></script>
    </head>
    <body>
        <div id="fullwidth-header">
            <div class="container ">
                <div class="row" style=" clear: both">
                    <div class="three columns"><a href="/"><img id="header-img" src="/images/headersig.png" /></a></div>
                    <div id="background_container"  class="nine columns">
                        <img id="floating-bg-img" src="/images/headergold.png" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row" style="clear: both">
                <div id="navcontainer" class="twelve columns topmenu" >
                    <div id="nav-menu">
                        {{ block "nav" . }}
                        {{ partial "nav" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {{ block "main" . }}
                {{ end }}
            </div>
        </div>
        {{ partial "footer" . }}
    </body>
</html>
