<html>
    <head>
        <meta charset="utf-8">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/simpleLightbox.min.css">
        <script src="/js/simpleLightbox.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="header-container" class="u-full-width">
                    <a href="/"><img id="header-img" src="/images/header.png" /></a>
                </div>
            </div>
            <div class="row">
                <div id="nav-menu" class="u-full-width">
                    {{ block "nav" . }}
                    {{ partial "nav" . }}
                    {{ end }}
                </div>
            </div>
            {{ block "main" . }}
            {{ end }}
            {{ block "footer" . }}
            {{ end }}
        </div>
    </body>
</html>
