<div class="footer">
    <center>
        <p class="social">
            <a href="https://www.facebook.com/helenplatt.studio"><img src="/images/F_icon.png"></a>
            <a href="https://www.instagram.com/helenplatt.art/"><img src="/images/I_icon.png"></a>
            <a href="https://www.pinterest.ca/helen5047/laser-cut-cnc-art/"><img src="/images/P_icon.png"></a>
        </p>
        <p class="signature">Send me an email:</p>
        <a href="mailto:helen@armyofevilrobots.com" >helen@armyofevilrobots.com</a>
    </center>
</div>
