<!-- {{ if ne .RelPermalink "/" }}
     <a href="/">
     <span>Gallery</span>
     </a>
     {{ end }} -->
{{ range .Site.Menus.main }}
{{ if eq .URL $.Page.RelPermalink }}
<a class="current-page">
    {{ .Pre }}
    <span>{{ .Name }}</span>
</a>
{{ else }}
<a href="{{ .URL }}">
    {{ .Pre }}
    <span>{{ .Name }}</span>
</a>
{{ end }} <!-- if menu is current url -->
{{ end }}
{{ if or (eq .Page.Kind "term") (eq .Page.Kind "taxonomy") }}
<br/><a href="/" class="galleryback">
    <span>&lt;Back to main gallery</span>
</a>
{{ end }}
{{ range (index $.Params "categories") }}
<br/><a href="/categories/{{ . | urlize }}.html" class="galleryback">
    <span>&lt;Back to {{ . }}</span>
</a>
{{ end }}
